In [59]:
import pandas as pd
import numpy as np
import pymysql
import datetime
from sqlalchemy import create_engine
from sqlalchemy.types import String, Integer, DateTime, VARCHAR, NVARCHAR, Float, INT

In [41]:
# 建立MySQL連線
dbBase = pymysql.connect(host='xxxx', port=3306, user='root', passwd='xxxxx', db='ResourceApp', charset='utf8')

In [42]:
df = pd.DataFrame({"Name": ["Lon","Lon2","Lon3","Lon4"],
                   "Age": [26,34,25,40]
                   })

In [6]:
# df["CreateTime"] = datetime.datetime.now()

In [43]:
df.dtypes

Name    object
Age      int64
dtype: object

In [69]:
df["Name"].astype('str')

0     Lon
1    Lon2
2    Lon3
3    Lon4
Name: Name, dtype: object

In [67]:
df.dtypes

Name    object
Age      int64
dtype: object

In [70]:
def sqlcol(dfparam):    

    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: VARCHAR(length=30)})

        if "datetime" in str(j):
            dtypedict.update({i: DateTime()})

        if "float" in str(j):
            dtypedict.update({i: Float(precision=3, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: INT()})

    return dtypedict

outputdict = sqlcol(df)    
df.to_sql(con=dbBase, name="TestDataFrame", if_exists="replace", index=False, dtype = outputdict)

ValueError: Name (VARCHAR(30)) not a string

In [71]:
# engine = create_engine("mysql+pymysql://root:Gtml%403777@140.134.51.26:3306/ResourceApp?charset=utf8")
# connection = engine.raw_connection()
# df.to_sql('TestDataFrame', connection, if_exists="replace", index=False) 

dbType={"Name": String(30), "Age": Integer}
df["Name"].astype('str')
df.to_sql(con=dbBase, name="TestDataFrame", if_exists="replace", index=False, dtype={"Name": VARCHAR(length=30)})

ValueError: Name (VARCHAR(30)) not a string